html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__photo {
  width: 230px;
  min-width: 200px;
  border: 10px solid #797474;
  overflow: hidden;
}

.header__photo img {
  width: 100%;
  min-width: 200px;
  display: block;
}

.name {
  font-family: "Roboto Slab", "Segoe WP", serif;
  font-size: 3.2rem;
  background-color: #797474;
  margin: 0;
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #797474;
}

.sprite {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sprite-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.vk {
  background: url("../img/sprites-social-networks.png") no-repeat -43px;
}

.viber {
  background: url("../img/sprites-social-networks.png") no-repeat -1px;
}

.phone {
  background: url("../img/sprites-social-networks.png") no-repeat -129px;
}

.mail {
  background: url("../img/sprites-social-networks.png") no-repeat -86px;
}

.github {
  background: url("../img/sprites-social-networks.png") no-repeat -170px;
}

.links {
  display: flex;
  flex-direction: column;
  background-color: #797474;
  margin-top: 20px;
}

.links__h3 {
  font-family: "Roboto Slab", "Segoe WP", serif;
  font-size: 2.4rem;
  background-color: #797474;
  color: #ffffff;
  padding: 10px;
}

.list {
  background-color: #ada6a6;
  padding: 55px 20px;
  list-style-type: armenian;
}

.list__item {
  font-family: "Open Sans", "Segoe WP", sans-serif;
  font-size: 1.92rem;
  color: #535151;
  list-style: decimal;
  list-style-position: inside;
  margin-bottom: 20px;
  transition: 0.3s;
}

.list__link {
  color: #236e3c;
  text-decoration: none;
  transition: 0.3s;
}

.list__link:hover {
  color: #ffffff;
}

@media screen and (max-width: 920px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .name-and-links {
    width: 100%;
  }

  .header__photo {
    width: 100%;
    background-color: #797474;
    border: 0;
    padding-top: 20px;
  }

  .header__photo img {
    width: 50%;
    margin: 0 auto;
  }

  .wrapper {
    padding: 0;
  }

  .list__item {
    font-size: 1.44rem;
  }

  .list {
    padding: 10px;
  }

  .links__h3 {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 2.08rem;
  }

  .links__h3 {
    font-size: 1.92rem;
    text-align: left;
  }
}

/*Style for education*/

.education {
  position: relative;
  margin-top: 30px;
}

.toggle {
  position: relative;
  display: block;
  height: 50px;
  width: 100%;
  font-family: "Roboto Slab", "Segoe WP", serif;
  font-size: 2.4rem;
  color: #ffffff;
  outline: none;
  background-color: #797474;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
}

.toggle::after {
  content: url("../img/open-down.png");
  position: absolute;
  top: 10px;
  right: 20px;
}

.toggle-active,
.toggle:hover {
  background-color: #535151;
}

.block-open {
  background-color: #ada6a6;
  display: none;
  overflow: hidden;
}

.block-open__list {
  padding: 25px;
}

@media screen and (max-width: 600px) {
  .toggle {
    font-size: 1.92rem;
    text-align: left;
  }
}

.slider {
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}

.show-descr {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  font-family: "Open Sans", "Segoe WP", sans-serif;
  font-size: 1.6rem;
  padding: 5px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  outline: none;
}

.slider__h3 {
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Roboto Slab", "Segoe WP", serif;
  font-size: 2.4rem;
  background-color: #797474;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.slider__img {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img-back {
  width: 100%;
  opacity: 0;
}

.slider__single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all ease 1s;
  color: black;
}

.descr {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 20px 50px 20px;
  bottom: 0;
  left: 0;
}

.descr h3 {
  font-family: "Roboto Condensed", "Segoe WP", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.descr p {
  font-family: "Open Sans", "Segoe WP", sans-serif;
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.5;
}

.info {
  display: block;
  position: absolute;
  font-family: "Open Sans", "Segoe WP", sans-serif;
  font-size: 1.6rem;
  background-color: #ff0000;
  padding: 10px 10px 10px 50px;
  color: #ffffff;
  top: 0;
  right: 0;
}

.info::before {
  content: url("../img/tap-arrow.png");
  position: absolute;
  top: 5px;
  left: 5px;
}

.swipe {
  display: none;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: "Open Sans", "Segoe WP", sans-serif;
  font-size: 1.6rem;
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px 5px 5px 30px;
}

.swipe::before {
  content: url("../img/touch.png");
  position: absolute;
  top: 4px;
  left: 2px;
}

.slider__single img {
  width: 100%;
}

.slider__single_hidden {
  opacity: 0;
}

.btn-left,
.btn-right {
  position: absolute;
  top: 65px;
  transition: 0.5s;
  z-index: 6;
  width: 36px;
  height: 36px;
  background-size: cover;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-left {
  background-image: url("../img/left-arrow.png");
  left: 15px;
}

.btn-right {
  background-image: url("../img/right-arrow.png");
  right: 15px;
}

@media screen and (max-width: 750px) {
  .descr h3 {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  .descr p {
    font-size: 1.44rem;
  }
}

@media screen and (max-width: 600px) {
  .slider__h3 {
    font-size: 1.92rem;
    text-align: left;
  }

  .descr {
    padding-bottom: 40px;
  }

  .descr h3 {
    font-size: 1.92rem;
    margin-bottom: 10px;
  }

  .descr p {
    font-size: 1.28rem;
  }
}

@media screen and (max-width: 500px) {
  .descr {
    display: none;
    padding: 20px;
  }

  .show-descr {
    display: block;
    width: 100%;
  }

  .descr h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .descr p {
    font-size: 1.12rem;
  }

  .btn-left,
  .btn-right {
    display: none;
  }

  .slider__img {
    min-width: 375px;
    cursor: none;
  }

  .info {
    display: none;
  }

  .swipe {
    display: block;
  }
}

.theyalow-desktop,
.repair-desktop {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: 0;
}

.switch-theyalow,
.back-theyalow,
.switch-repair,
.back-repair {
  display: none;
  position: fixed;
  right: 150px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 5px;
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.switch-theyalow:hover,
.back-theyalow:hover,
.switch-repair:hover,
.back-repair:hover {
  background-color: #ec9e03;
}

.mobile-theyalow {
  width: 640px;
  height: 100%;
  position: absolute;
  top: 0;
  right: calc((100% - 640px) / 2);
  border: 0;
}

.mobile-repair {
  width: 375px;
  height: 100%;
  position: absolute;
  top: 0;
  right: calc((100% - 375px) / 2);
  border: 0;
}

.switch-theyalow,
.switch-repair {
  bottom: 120px;
}

.back-theyalow,
.back-repair {
  bottom: 50px;
}
