<header class="header">
  <h1 class="logo">
    <a (click)="goTo('/home')"
      >Kravchenko Evgeny <span class="logo-descr">Software engineer</span></a
    >
  </h1>
  <nav class="navigation" [class.isNavShown]="isNavShown">
    <a (click)="goTo('/home')" class="link-item" [class.active]="statePages['home']">Home</a>
    <a (click)="goTo('/about-me')" class="link-item" [class.active]="statePages['about-me']">About me</a>
  </nav>
  <button
    class="nav-switcher"
    [class.btn-switch]="isNavShown"
    (click)="isNavShown = !isNavShown"
  ></button>
</header>
