@import "variables";
@import "keyframes";

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0 20px 20px;
  box-sizing: border-box;
  background-color: $white;
  z-index: 5;
}

.logo {
  margin: 0;
  padding-top: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5rem;
  color: $dark-gray;
}

.logo-descr {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.5);
}

.link-item {
  flex-grow: 1;
  text-align: center;
  padding-top: 50px;
  color: $dark-gray;
  font-family: "Helvetica LT Std Cond", sans-serif;
  text-transform: uppercase;
  transition: 0.2s;
  animation-name: nav-link-disactive;
  animation-duration: 0.5s;

  &:hover {
    color: $white;
    background-color: $dull-light-green;
  }
}

.active {
  animation-name: nav-link-active;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  color: $white;

  &:hover {
    background-color: $dull-green;
  }
}

.nav-switcher {
  display: none;
  height: 30px;
  width: 30px;
  background-image: url("~/assets/images/arrow-menu.png");
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 10;
}

@media screen and (max-width: 500px) {
  .header {
    position: static;
    padding: 15px 0;
  }

  .nav-switcher {
    display: block;
    position: absolute;
    top: 20px;
    left: -50px;
  }

  .logo {
    width: 100%;
    font-size: 2.5rem;
    padding: 0;
    text-align: center;
  }

  .logo-descr {
    font-size: 1rem;
  }

  .navigation {
    position: fixed;
    right: -100vw;
    top: 0;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $dark-gray-opacity;
    transition: 0.5s;
    z-index: 10;
  }

  .link-item {
    flex-grow: 0;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    animation: none;
  }

  .isNavShown {
    right: 0;
    transition: 0.5s;
  }

  .btn-switch {
    transform: rotateY(180deg);
    left: calc(100% - 50px);
    transition: 0.5s;
  }

  .active {
    animation: none;
    background-color: $dull-green;
  }
}
