$primary_font: "Arial";

$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

$font-xs:10px;
$primary-fs: 16px;

$dark-gray: #404040;
$white: #ffffff;
$dull-green: #5ed466;
$dull-light-green: #9bf597;
