<h2 class="project-name">{{ detailedInformation.title }}</h2>
<div class="detailed-information">
    <button class="btn-back" (click)="location.back()"></button>
    <img
      src=" {{ detailedInformation.imageSrc }} "
      alt="{{ detailedInformation.title }}"
      class="img-project"
    />
    <div class="full-description">
      <p class="description">{{ detailedInformation.fullDescription }}</p>
      <div class="project-links">
        <a href="{{ detailedInformation.githublink }}" class="github project-links__item" target="_blank"></a>
        <a *ngIf="detailedInformation.deploylink" href="{{ detailedInformation.deploylink }}" class="netlify project-links__item" target="_blank"></a>
      </div>
  </div>
</div>
