<div #words class="words">
  <div class="word HTML5">
    <span class="letter H">H</span>
    <span class="letter T">T</span>
    <span class="letter M">M</span>
    <span class="letter L">L</span>
    <span class="letter five">5</span>
  </div>
  <div class="word CSS3">
    <span class="letter C">C</span>
    <span class="letter firstS">S</span>
    <span class="letter secondS">S</span>
    <span class="letter three">3</span>
  </div>
  <div class="word JavaScript">
    <span class="letter J">J</span>
    <span class="letter firstA">a</span>
    <span class="letter v">v</span>
    <span class="letter secondA">a</span>
    <span class="letter S">S</span>
    <span class="letter c">c</span>
    <span class="letter r">r</span>
    <span class="letter i">i</span>
    <span class="letter p">p</span>
    <span class="letter t">t</span>
  </div>
  <div class="word NodeJS">
    <span class="letter N">N</span>
    <span class="letter o">o</span>
    <span class="letter d">d</span>
    <span class="letter e">e</span>
    <span class="letter J">J</span>
    <span class="letter S">S</span>
  </div>
  <div class="word angular">
    <span class="letter A">A</span>
    <span class="letter n">n</span>
    <span class="letter g">g</span>
    <span class="letter u">u</span>
    <span class="letter l">l</span>
    <span class="letter a">a</span>
    <span class="letter r">r</span>
  </div>
</div>
