@import "variables";
@import "keyframes";

:host {
  margin-bottom: 50px;
}

.work-item {
  max-width: 270px;
  height: 100%;
  background-color: $white;
  margin: 25px 13px;
  cursor: pointer;

  &:hover {
    animation-name: hover-card;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

.work-avatar {
  background-color: $dark-gray-opacity;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.project-image {
  width: 100%;
  margin-bottom: 20px;
}

.project-description {
  text-align: justify;
}
