@import "fonts";
@import "variables";

html {
  font-size: $font-xs;
}

body {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
  margin: 0;
  padding: 0;
  background-image: url('src/assets/images/wood-bg.jpg');
}

a {
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}
