@import "./assets/scss/modules/fonts";
@import "./assets/scss/utils/variables";

html {
  font-size: $font-xs;
}

body {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
}

a {
  cursor: pointer;
}
