<img
  class="my-photo"
  src="./assets/images/my-photo-about.jpg"
  alt="Kravchenko Evgeny"
/>
<p class="biography">
  Hi there! I'm full stack developer and I'm looking for the first job place as
  a software engineer. I'm from the city of Belarus called Vitebsk. I graduated
  from Polotsk State University as a process engineer in 2020. Afterwards I
  moved to Salihorsk to work on a contract for 2 years. Living in Salihorsk I
  realized that I want to do other things in life and this is web development. I
  found the online RSSchool courses and decided to study there. I graduated from
  the RSSchool 2019 Q3, RSSchool Angular 2020 Q1 and RSSchool NodeJS 2020 Q1 and
  I got all the necessary skills to start career as a junior software engineer.
  As you know changing a profession isn't easy but I decided to do it anyway and
  this is because I am very motivated to become a good developer. I worked with
  such technology as HTML5, CSS3, SCSS, Sass, JavaScript, TypeScript, NodeJS,
  Express, MongoDB, Mongoose, MVC, GIT. If you have any suggestion you can write
  me on one of the social networks.
</p>
<div class="social-networks">
  <a
    class="social-networks__item github"
    href="https://github.com/Evgeny-Kravchenko"
    target="_blank"
  ></a>
  <a
    class="social-networks__item linkedIn"
    href="https://www.linkedin.com/in/%D0%B5%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9-%D0%BA%D1%80%D0%B0%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-41b81018a/"
    target="_blank"
  ></a
  ><a
    class="social-networks__item telegram"
    href="https://telegram.im/@K1696"
    target="_blank"
  ></a>
</div>
