@import "variables";

:host {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.my-photo {
  position: relative;
  left: -22px;
  width: 40%;
}

.biography {
  display: flex;
  width: 50%;
  align-items: center;
  padding: 20px 40px 20px 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  color: $dark-gray-opacity;
  line-height: 2;
  text-align: justify;
}

.social-networks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'github linkedIn telegram';
  grid-gap: 1px;
  width: 100%;
  justify-content: space-between;
}

.social-networks__item {
  height: 70px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: 50% 50%;
  background-color: $dull-green;
  transition: 0.2s;

  &:hover {
    background-size: 40px 40px;
    background-color: $dull-light-green;
  }
}

.github {
  grid-area: github;
  background-image: url('../../../../assets/images/social-media-icon/github.png');
}

.linkedIn {
  grid-area: linkedIn;
  background-image: url('../../../../assets/images/social-media-icon/linkedin.png');
}

.telegram {
  grid-area: telegram;
  background-image: url('../../../../assets/images/social-media-icon/telegram.png');
}

@media screen and (max-width: 900px) {
  .biography {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 700px) {
  :host {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my-photo {
    position: static;
    width: 80%;
  }

  .biography {
    width: 90%;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .my-photo {
    width: 100%;
  }
}
