<h2 class="component-name">Certificates</h2>
<div class="certificates">
  <a class="certificate-item" href="https://app.rs.school/certificate/zx7z0vna" target="_blank">
    <img class="certificate-img html-css-js" src="./assets/images/certificates/html-css-js.PNG" alt="1">
  </a>
  <a class="certificate-item" href="https://app.rs.school/certificate/sm0mubds" target="_blank">
    <img class="certificate-img angular" src="./assets/images/certificates/Angular.PNG" alt="1">
  </a>
  <a class="certificate-item" href="https://app.rs.school/certificate/sm0mubds" target="_blank">
    <img class="certificate-img nodeJS" src="./assets/images/certificates/nodeJS.PNG" alt="1">
  </a>
</div>
