@import "variables";

.description-portfolio {
  position: relative;
  margin: 0 auto 80px auto;
  padding: 120px 80px 30px 80px;
  box-sizing: border-box;
  background-color: $white;
  color: $dark-gray;
  font-family: "Cambria", sans-serif;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgba(247,245,245,1) 0%, rgba(220,211,211,1) 50%, rgba(247,245,245,1) 100%);
  box-shadow: 0 12px 31px -29px rgba(0, 0, 0, 0.75);

  &::after {
    content: url("src/assets/images/tools.png");
    position: absolute;
    bottom: -49px;
    left: calc(50% - 52px);
  }
}

.quotes {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 15rem;
  line-height: 5rem;
  font-weight: $black;
  color: $dark-gray;
  opacity: 0.22;
}

@media screen and (max-width: 500px) {
  .quotes {
    display: none;
  }

  .description-portfolio {
    padding: 30px 80px;
    border-top: 1px solid ;
    box-shadow: 0 12px 31px -29px rgba(0, 0, 0, 0.75), 0 -12px 31px -29px rgba(0, 0, 0, 0.75);
  }
}
