<footer class="footer">
  <div class="my-descr">
    <div class="photo-contacts">
      <div class="photo-container">
        <img
          src="./assets/images/my-photo-footer.jpg"
          alt="Evgeny Kravchenko"
          class="photo-img"
        />
      </div>
      <h3 class="name">
        Kravchenko Evgeny
        <span class="city">
          Belarus, Vitebsk
        </span>
      </h3>
      <div class="social-media">
        <a
          href="https://github.com/Evgeny-Kravchenko"
          class="social-item github"
          target="_blank"
        ></a>
        <a
          href="https://www.linkedin.com/in/%D0%B5%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9-%D0%BA%D1%80%D0%B0%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-41b81018a/"
          class="social-item linkedIn"
          target="_blank"
        ></a>
        <a
          href="https://telegram.im/@K1696"
          class="social-item telegram"
          target="_blank"
        ></a>
      </div>
    </div>
    <p class="descr">
      Hello, I'm junior full-stack developer and I'm looking for a first job place as a junior software engineer.
      I'm graduated from RSSchool 2019 Q3, RSSchool 2020 Q1, NodeJS 2020 Q1. I've completed several projects in these courses and
      got the necessary skills to start career as a software developer. If you have any suggestions, you can write to me on one of the social networks.
      I am open to various ideas and I will consider any suggestions.
    </p>
  </div>
  <div class="my-skills">
    <h3 class="my-skills__title">My skills</h3>
    <progress class="skills-item skills-item__html" max="100" value="90"></progress>
    <progress class="skills-item skills-item__css" max="100" value="90"></progress>
    <progress class="skills-item skills-item__js" max="100" value="90"></progress>
    <progress class="skills-item skills-item__angular" max="100" value="80"></progress>
    <progress class="skills-item skills-item__nodejs" max="100" value="50"></progress>
  </div>
</footer>
