@keyframes hover-card {
  0% {
    background: #ffffff;
    transform: scale(1);
  }
  @for $i from 1 through 50 {
    #{$i}% {
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 1) 100% - $i,
        rgba(255, 255, 255, 1) 100% - $i,
        rgba(94,212,102,1) 100% - $i,
        rgba(94,212,102,1) 100% - $i
      );
    }
  }

  100% {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 50%,
      rgba(94,212,102,1) 50%,
      rgba(94,212,102,1) 50%
    );
    transform: scale(0.98);
  }
}
